body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 91, 107);
}
div{
    width: 400px;
    height: 440px;
    margin: auto;
    position: relative;
    top: 200px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.581);
}

h1{
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 5px;

}
p{
    background-color: bisque;
    padding:5px;
    text-align: center;
}

ol{
    background-color: rgba(14, 157, 240, 0.568);
    padding: 5px;
    text-align: center;
}