body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 91, 107);
}
div{
    width: 600px;
    height: 600px;
    margin: auto;
    position: relative;
    top: 200px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.581);
}

h1{
  text-align: justify;
  background-color: black;
  color: aliceblue;
  padding: 10px;

}
.frase{
    background-color: bisque;
    padding:10px;
    text-align: center;
    width: 500px;
    margin: auto;
    text-align: justify;
    border: 1px solid black;
}
.lista{
    text-align: center;
    margin-top: 40px;
    margin-left: -50px;
}
ol{
    background-color: rgba(14, 157, 240, 0.568);
    padding: 25px;
    text-align: justify;
    width: 200px;
    margin: auto;
    position: relative;
    top: 10px;
}
h2{
    text-align: center;
    color: aliceblue;
}
.baixar{
    color: black;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    left: 35%;
    top: 70%;
    
}
.casa{
    text-align: center;
    margin-top: -450px;
}
.home{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bolder;
    font-size: 1.5em;
}
.fix{
    text-decoration: none;
    color: rgb(12, 12, 112);
    font-weight: bolder;
    position: relative;
    top: 70px;
    left: 23%;
}
.pg2{
    background-image: url();
}